<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
        <meta name="supported-color-schemes" content="light dark">

    <link rel="stylesheet" href="/styles.css">
  </head>
  <body class="bg-[#131b1e] h-screen  text-white ">
    
     <header class="top-0 absolute sticky ">
      {{ comp.navbar() | safe }}
    </header>

    <main class="{{ bodyClass }}">
      {{ content | safe }}
    </main>

    <footer class="bottom-0 relative    mt-10 overflow-hidden w-screen ">
      {{ comp.footer() | safe }}
    </footer>

    <!-- Current page: {{ url }} -->
  </body>
</html>