---
layout: layouts/base.njk
bodyClass: body-tag
---
<div data-pagefind-body>
  <h1>Tagged “{{ tag }}”</h1>

  {% set projectslist = search.pages("'" + tag + "'") %}
  {% include "templates/projectslist.njk" %}

  <hr>

  <p>See <a href="/tags/">all tags</a>.</p>
</div>